<footer class="footer">
  <small>
    <a href="http://app-name-9876.herokuapp.com/">Sample App</a>
    by X
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", '#' %></a></li>
    </ul>
  </nav>
</footer>